CoverOptimizeGradle/.git/
CoverOptimizeGradle/.diffblue/
CoverOptimizeGradle/.idea/
CoverOptimizeGradle/build/

CoverOptimizeMaven/.git/
CoverOptimizeMaven/.diffblue/
CoverOptimizeMaven/.idea/
CoverOptimizeMaven/target/

CoverRefactor/.git/
CoverRefactor/.diffblue/
CoverRefactor/.idea/
CoverRefactor/target/

CoverReplay/.git/
CoverReplay/.diffblue/
CoverReplay/.idea/
CoverReplay/target/

CustomInputs/.git/
CustomInputs/.diffblue/
CustomInputs/.idea/
CustomInputs/target/

TicTacToeFX/.git/
TicTacToeFX/.diffblue/
TicTacToeFX/.idea/
TicTacToeFX/target/

R006/.git/
R006/.diffblue/
R006/.idea/
R006/target/

R013/.git/
R013/.diffblue/
R013/.idea/
R013/target/

T005/.git/
T005/.diffblue/
T005/.idea/
T005/target/

TicTacToeFX/.git
TicTacToeFX/.diffblue
TicTacToeFX/.idea
TicTacToeFX/target

CustomTestSetup/.git
CustomTestSetup/.diffblue
CustomTestSetup/.idea
CustomTestSetup/target

OffHeapCustomInputs/business/target
OffHeapCustomInputs/business/.diffblue
OffHeapCustomInputs/core/target
OffHeapCustomInputs/model/target

Java17Features/.git
Java17Features/.diffblue
Java17Features/target

spring-petclinic/.git
spring-petclinic/.diffblue
spring-petclinic/.idea
spring-petclinic/target



